# A) Label Based Indexing

loc function is an important function that can be used for indexing, for extracting row use df.loc[" "] and for column use df.loc[:," "]

In [18]:
import pandas as pd
ResultSheet = {"Arnab":pd.Series([90,91,97]),
              "Riya":pd.Series([100,95,78]),
              "Ishita":pd.Series([47,100,98]),
              "Samridhi":pd.Series([97,52,100]),
              "Rohan":pd.Series([89,82,77])}
df=pd.DataFrame(ResultSheet)
df

   Arnab  Riya  Ishita  Samridhi  Rohan
0     90   100      47        97     89
1     91    95     100        52     82
2     97    78      98       100     77

In [19]:
import pandas as pd
ResultSheet = {"Arnab":pd.Series([90,91,97],index=["Maths","Science","Hindi"]),
              "Riya":pd.Series([100,95,78],index=["Maths","Science","Hindi"]),
              "Ishita":pd.Series([47,100,98],index=["Maths","Science","Hindi"]),
              "Samridhi":pd.Series([97,52,100],index=["Maths","Science","Hindi"]),
              "Rohan":pd.Series([89,82,77],index=["Maths","Science","Hindi"])}
df=pd.DataFrame(ResultSheet)
df

         Arnab  Riya  Ishita  Samridhi  Rohan
Maths       90   100      47        97     89
Science     91    95     100        52     82
Hindi       97    78      98       100     77

In [20]:
df.loc[:,"Ishita"]

Maths       47
Science    100
Hindi       98
Name: Ishita, dtype: int64

In [21]:
df["Ishita"]

Maths       47
Science    100
Hindi       98
Name: Ishita, dtype: int64

In [22]:
df.loc["Maths"]

Arnab        90
Riya        100
Ishita       47
Samridhi     97
Rohan        89
Name: Maths, dtype: int64

# B) Boolean Indexing

It is used when we want to imply some constraints like marks >90, so it return true false in the place of actual values

In [23]:
df.loc["Maths"]>90

Arnab       False
Riya         True
Ishita      False
Samridhi     True
Rohan       False
Name: Maths, dtype: bool

# C) Slicing

Data Frame Slicing is inclusive of the end values

In [24]:
df.loc["Maths":"Hindi"]

         Arnab  Riya  Ishita  Samridhi  Rohan
Maths       90   100      47        97     89
Science     91    95     100        52     82
Hindi       97    78      98       100     77

In [25]:
df.loc["Maths":"Science"]

         Arnab  Riya  Ishita  Samridhi  Rohan
Maths       90   100      47        97     89
Science     91    95     100        52     82

In [26]:
df.loc["Maths":"Hindi","Arnab":"Ishita"]
#in simple words it means ki Maths se Hindi tak ka , Arnab se Ishita tak ka de do.

         Arnab  Riya  Ishita
Maths       90   100      47
Science     91    95     100
Hindi       97    78      98

In [33]:
df.loc["Arnab":"Ishita","Maths":"Hindi"]
#look that it is the reverse of the previous one, but it didn't work. That means order matters!

KeyError: 'Arnab'

In [27]:
df.loc["Maths":"Science",["Arnab","Samridhi"]]

         Arnab  Samridhi
Maths       90        97
Science     91        52

# D) Filtering Rows in DataFrame
True and false can be associated with indices.

In [28]:
df.loc[[True,False,False]]

       Arnab  Riya  Ishita  Samridhi  Rohan
Maths     90   100      47        97     89

In [29]:
df.loc[[True,False,True]]

       Arnab  Riya  Ishita  Samridhi  Rohan
Maths     90   100      47        97     89
Hindi     97    78      98       100     77

In [30]:
df.loc[[True,True,True]]

         Arnab  Riya  Ishita  Samridhi  Rohan
Maths       90   100      47        97     89
Science     91    95     100        52     82
Hindi       97    78      98       100     77

In [31]:
df.loc[:,[True,False,True,False,True]]

         Arnab  Ishita  Rohan
Maths       90      47     89
Science     91     100     82
Hindi       97      98     77

In [32]:
df.iloc[[True,False,True],""]

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types