In [23]:
import pandas as pd
ser1=pd.Series([10,20,30,40,50,60,70,80,90,100])
ser1

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

# 1) Name :- To give a name to the series

In [24]:
ser1.name = "Table of 10"
ser1

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
Name: Table of 10, dtype: int64

# 2) index name:- to give a name to the index of the series

In [25]:
ser1.index.name="S.No"
ser1

S.No
0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
Name: Table of 10, dtype: int64

# 3)Values- To return all the elements of a series

PTR:- Array form mei result aayega

In [26]:
ser1.values

array([ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100], dtype=int64)

# 4) Size- returns the number of values of a series

In [27]:
ser1.size

10

# 5) Empty:- Returns True/false result

In [28]:
ser1.empty

False

In [29]:
ser2=pd.Series([])
ser2.empty

True

# METHODS OF A SERIES

# 1) Head(n):- Returns the first n values of a series, by default it returns 5 values

In [30]:
ser1.head(3)

S.No
0    10
1    20
2    30
Name: Table of 10, dtype: int64

# 2) Tail(n):- Returns the last n values of a series, but remember that order won't be reversed

In [31]:
ser1.tail(3)

S.No
7     80
8     90
9    100
Name: Table of 10, dtype: int64

# 3)count():- return all the non Naan values of the series, whereas size() doesnt care about Non Naan

In [32]:
ser1.count()

10