In [25]:
import pandas as pd
ds = {"State":["Madhya Pradesh","Maharastra","Uttar Pradesh"],"Capital":["Bhopal","Mumbai","Lucknow"]}
df = pd.DataFrame(ds,index=["1.","2.","3."])
df

             State  Capital
1.  Madhya Pradesh   Bhopal
2.      Maharastra   Mumbai
3.   Uttar Pradesh  Lucknow

# 1. index

To display the row labels

In [16]:
df.index

Index(['1.', '2.', '3.'], dtype='object')

# 2. Columns

To display column labels

In [17]:
df.columns

Index(['State', 'Capital'], dtype='object')

# 3. Dtype

To display data type of each column

In [18]:
df.dtypes

State      object
Capital    object
dtype: object

# 4. Values

In [19]:
df.values

array([['Madhya Pradesh', 'Bhopal'],
       ['', 'Mumbai'],
       ['Uttar Pradesh', 'Lucknow']], dtype=object)

# 5.Shape

to display a tuple representing the dimensionality of the data frame

(row,column)

In [20]:
df.shape

(3, 2)

# 6. Size

In [24]:
df.size

6

# 7. T
Transpose

In [10]:
df.T

                     1.          2.             3.
State    Madhya Pradesh  Maharastra  Uttar Pradesh
Capital          Bhopal      Mumbai        Lucknow

# 8. Head(n)

In [14]:
df.head(2)

             State Capital
1.  Madhya Pradesh  Bhopal
2.      Maharastra  Mumbai

# 9. Tail(n)

In [13]:
df.tail(2)

            State  Capital
2.     Maharastra   Mumbai
3.  Uttar Pradesh  Lucknow