# Points to Remember
1) All the Missing values are by default filled with Nan value


2) Index Matching method is implemented, ex:- index "A" from first go from index "A" of second series and if "A" not in second so A from first + NaN = Nan

# 1) Addition of two series
No. of elements in both should be same

In [24]:
import pandas as pd
ser1=pd.Series([10,20,30,40,50,60],index=["A","B","C","D","E","X"])
ser2=pd.Series([60,70,80,90,100],index=["X","E","Z","A","B"])

In [25]:
ser1+ser2

A    100.0
B    120.0
C      NaN
D      NaN
E    120.0
X    120.0
Z      NaN
dtype: float64

In [27]:
ser1.add(ser2,fill_value=0)

A    100.0
B    120.0
C     30.0
D     40.0
E    120.0
X    120.0
Z     80.0
dtype: float64

# 2) Subtraction of two series

In [10]:
ser1-ser2

A   -80.0
B   -80.0
C     NaN
D     NaN
E   -20.0
X     0.0
Z     NaN
dtype: float64

In [28]:
ser1.sub(ser2,fill_value=0)

A   -80.0
B   -80.0
C    30.0
D    40.0
E   -20.0
X     0.0
Z   -80.0
dtype: float64

# 3)Multiplication of two series

In [13]:
ser1*ser2

A     900.0
B    2000.0
C       NaN
D       NaN
E    3500.0
X    3600.0
Z       NaN
dtype: float64

In [15]:
ser1.mul(ser2,fill_value=0)

A     900.0
B    2000.0
C       0.0
D       0.0
E    3500.0
X    3600.0
Z       0.0
dtype: float64

# 4)Division of two series

In [16]:
ser1/ser2

A    0.111111
B    0.200000
C         NaN
D         NaN
E    0.714286
X    1.000000
Z         NaN
dtype: float64

In [17]:
ser1.div(ser2,fill_value=0)

A    0.111111
B    0.200000
C         inf
D         inf
E    0.714286
X    1.000000
Z    0.000000
dtype: float64